.more {
  &__items {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @include media(992) {
      flex-direction: column;
    }
  }
  &--item {
    position: relative;
    background: $gray;
    height: 400px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 44px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 60px 40px;
      h4 {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: $blue;
        font-family: $q;
      }
      p {
        width: 350px;
        font-size: 18px;
        letter-spacing: 0.9px;
        font-family: $q;
        @include media(992) {
         width: unset;
        }
      }
    }
  }
  
  
}