@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

@mixin FontFace($fName, $Url, $name, $ext, $format, $weight) {
  @font-face {
    font-family: $fName;
    src: url('../fonts/#{$Url}#{$name}.#{$ext}') format($format);
    font-weight: $weight;
  }
}